<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filters">
      <hr>
      <h2>App Status:{{appStatus |async}}</h2>
      <button (click)="addServer()" class="btn btn-primary"> Add Server </button>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers |sort:'name'| filter:filters:'status'  " 
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name }}</strong> | {{ server.instanceType |uppercase |reverse }} |
           {{ server.started| date :'fullDate' | uppercase}}
        </li>
      </ul>
    </div>
  </div>
  <p class="help-block">
    {{text | shorten:10}}
   
  </p>
  <p class="help-block">
  
    {{text2 | shorten:2}}
  </p>
</div>